<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coding</title>
    <link rel="stylesheet" href="{% static '/CSS/aos.css' %}">
    <link rel="stylesheet" href="{% static '/CSS/coderoom.css' %}">
    <link rel="stylesheet" href="{% static '/CSS/bootstrap.css' %}">
    <link rel="shortcut icon" href="{% static '/media/fabicon.png' %}" type="image/x-icon">

</head>

<body class="body" id="body">
    {% include 'navbar.html' %}
    <div class="pagebg" id="page2">
        <div id="sty">
            <button class="a1" id="a1"></button>
            <button class="a2" id="a2"></button>
            <button class="a3" id="a3"></button>
        </div>
        <div class="secondMovieList" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine">
            <div>
                Time Limit : {{postData.post_dat}} - {{postData.end_Data}}
            </div>
            <div>
                Titel : {{postData.title}}
            </div>
            <div>
                Explanation : {{postData.code_exp}}
            </div>
            <div>
                Sample Input : {{postData.codeinput}}
            </div>
            <div>
                Sample Output : {{postData.codeoutput}}
            </div>
        </div>
        <div class="row gx-5" tabindex="1">
            <form action="{% url 'runcode' postData.id %}" method="post"
                class="container d-flex align-items-start align">
                {% csrf_token %}
                <div class="out-div p-3 d-inline-flex">
                    <textarea name="codebox" id="input" cols="200" rows="50" placeholder="Compiler Workspace"
                        spellcheck="false" autocomplete="false">{{value}}</textarea>
                </div>
                <div class="item">
                    <br><br>
                    <select name="codes" class="option other">
                        <option value="Java">JAVA</option>
                        <option value="Python">PYTHON</option>
                        <option value="Cpp">C/C++</option>
                    </select>
                    {% if lang %}
                    <script>
                        document.querySelector('.option').value = "{{lang}}";
                    </script>
                    {%endif%}
                </div>
                <div class="out_area out-div d-flex align-items-start">
                    {% if messages %}
                    {% for message in messages %}
                    <textarea name="output" cols="30" rows="10" class="p-3  output out" placeholder="Terminal Panel">
                            {{message}}
                        </textarea>
                    {% endfor %}
                    {% else %}
                    <textarea name="output" cols="30" rows="10" class=" p-3 output out"
                        placeholder="Terminal Panel"></textarea>
                    {% endif %}
                </div>
                <div>
                    <button type="submit" class="other sub_btn" name="run">RUN</button>
                    <button type="submit" class="other sub_btn" name="sub" id="submit"
                        onclick="alert('Wait a while')">SUBMIT</button>
                </div>
                {% comment %} <div class="hiddenItem">
                    <textarea name="codeTitel" cols="30" rows="10" class="hiddenItem">{{postData.title}}</textarea>
                    <textarea name="sttime" cols="30" rows="10" class="hiddenItem">{{stTime}}</textarea>
                </div> {% endcomment %}
            </form>
        </div>
    </div>
    <script>
        const textarea = document.getElementById("input");

        textarea.addEventListener("keydown", function (event) {
            if (event.key === "Tab") {
                event.preventDefault();
                const start = this.selectionStart;
                const end = this.selectionEnd;
                const value = this.value;
                this.value = value.substring(0, start) + "\t" + value.substring(end);
                this.selectionStart = this.selectionEnd = start + 1;
            }
        });
    </script>
</body>

<script src="{% static '/js_file/bootstrap.js' %}"></script>
<script src="{% static '/js_file/aos.js' %}"></script>
<script>
    AOS.init();
</script>
<script src="{% static '/js_file/coderoom.js' %}"></script>
<script src="{% static '/js_file/BackToTab.js' %}"></script>

</html>