<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coding</title>
    <link rel="stylesheet" href="{% static '/CSS/aos.css' %}">
    <link rel="stylesheet" href="{% static '/CSS/index.css' %}" type="text/css">
    <!-- <link rel="stylesheet" href="{% static '/CSS/teacherIndex.css' %}" type="text/css"> -->
    <link rel="stylesheet" href="{% static '/CSS/bootstrap.css' %}">
    <link rel="shortcut icon" href="{% static '/media/fabicon.png' %}" type="image/x-icon">
</head>

<body class="body" id="body">
    {% include 'navbar.html' %}
    <div class="pagebg" id="page2">
        {% for post in postData %}
        <a href="{% url 'teacher_coderoom' post.id %}">
            <div class="secondMovieList" data-aos="fade-left" data-aos-offset="200" data-aos-easing="ease-in-sine">
                <div class="move">
                    <div class="test">
                        <p class="time">
                            {{post.post_dat}} - {{post.end_Data}}
                        </p>
                        <p class="title">
                            {{post.title}}
                        </p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</body>

<script src="{% static '/js_file/bootstrap.js' %}"></script>
<script src="{% static '/js_file/aos.js' %}"></script>
<script>
    AOS.init();
</script>
<script src="{% static '/js_file/script.js' %}"></script>
<script src="{% static '/js_file/BackToTab.js' %}"></script>

</html>