<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Tv</title>
    <link rel="stylesheet" href="{% static 'CSS/ProblemCss/Post_style.css' %}">
    <link rel="stylesheet" href="{% static '/CSS/bootstrap.css' %}">
    <link rel="shortcut icon" href="{% static '/media/fabicon.png' %}" type="image/x-icon">
</head>

<body class="body" id="body">
    {% include 'navbar.html' %}
    <div id="mainDiv">
        <form action="/addpost/" method="get">
            {% csrf_token %}
            <div class="FormItem code_title">
              <span> Title : </span><input type="text" name="code_title" id="code_title_text" placeholder="Code Title">
              <span> Time Limit : </span> <input type="date" name="date" id="" placeholder="02/03/23">  <input type="time" name="time" id="">
            </div>
            <div class="FormItem expblock">
              <span class="textbox">Explanation :</span><textarea name="code_exp" id="exp" cols="100" rows="10" placeholder="Code Explanation" class="textbox"></textarea>
            </div>
            <div class="FormItem InpOutp">
              <span class="textbox">Sample input :</span><textarea name="sample_inp" id="input" cols="40" rows="10" placeholder="Sample Input" class="textbox"></textarea>
              <span class="textbox">Sample output :</span><textarea name="sample_out" id="output" cols="40" rows="10" placeholder="Sample Output" class="textbox"></textarea>
            </div>
            <div class="FormItem btn_area">
                <button type="submit" class="post_btn">Post</button>
                <button type="reset" class="clean_btn">Clean</button>
            </div>
        </form>
    </div>
    
</body>

<script src="{% static '/js_file/bootstrap.js' %}"></script>
<script>
    const textarea1 = document.getElementById("input");
    textarea1.addEventListener("keydown", function (event) {
        if (event.key === "Tab") {
            event.preventDefault();
            const start = this.selectionStart;
            const end = this.selectionEnd;
            const value = this.value;
            this.value = value.substring(0, start) + "\t" + value.substring(end);
            this.selectionStart = this.selectionEnd = start + 1;
        }
    });
    const textarea2 = document.getElementById("output");
    textarea2.addEventListener("keydown", function (event) {
        if (event.key === "Tab") {
            event.preventDefault();
            const start = this.selectionStart;
            const end = this.selectionEnd;
            const value = this.value;
            this.value = value.substring(0, start) + "\t" + value.substring(end);
            this.selectionStart = this.selectionEnd = start + 1;
        }
    });
    const textarea3 = document.getElementById("exp");
    textarea3.addEventListener("keydown", function (event) {
        if (event.key === "Tab") {
            event.preventDefault();
            const start = this.selectionStart;
            const end = this.selectionEnd;
            const value = this.value;
            this.value = value.substring(0, start) + "\t" + value.substring(end);
            this.selectionStart = this.selectionEnd = start + 1;
        }
    });
</script>
</html>