<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/CSS/ProblemCss/profile.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/CSS/bootstrap.css' %}">
    <link rel="shortcut icon" href="{% static '/media/fabicon.png' %}" type="image/x-icon">
    <title>{{user.get_username}}</title>
</head>
 
<body class="body">
    <nav class="navbar navbar-light bg-light fixed-top" id="nav">
        <div class="container-fluid">
            <a class="navbar-brand Pagetitle" id="heading">
                <img src="{% static '/media/Logo.png' %}" alt="" style="height: 64px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Skill Sharpener</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/" style="color: aliceblue;">Home</a>
                        </li>
                        {% if request.user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link login" href="/post/" style="color: aliceblue;">Post</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link login" href="{% url 'profile' name=request.user.username %}" style="color: aliceblue;">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link login" href="/Winnerboard/" style="color: aliceblue;">Winner</a>
                        </li>
                        <li class="nav-item dropdown">

                            {% if request.user.is_authenticated %}


                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false" style="color: aliceblue;">
                                {{user.get_username}}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" id="loginout" href="/logout/" style="color: aliceblue;">Logout</a></li>
                            </ul>

                            {% else %}

                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false" style="color: aliceblue;">
                                User
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">



                                <li><a class="dropdown-item" id="loginbtn" href="/login/" style="color: aliceblue;">Login</a></li>
                                <li><a class="dropdown-item" id="signupbtn" href="/signup/" style="color: aliceblue;">Sign Up</a></li>

                                {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="page_bg">
        <div class="profile">
            <div class="data">

                <p>
                    Name : &nbsp
                </p>
                <p>
                    {{name.first_name}} {{name.last_name}}
                </p>
            </div>
            <div class="data">
                <p>
                    User Name :&nbsp 
                </p>
                <p>
                    {{name.username}}
                </p>
            </div>

            <div class="data">
                <p>
                    Email :&nbsp 
                </p>
                <p>
                    {{name.email}}
                </p>
            </div>
            <div class="data">
                <p>
                    User Type :&nbsp 
                </p>
                {% if name.is_staff %}
                <p>
                    Teacher
                </p>
                {% else %}
                <p>
                    Student
                </p>
                {% endif %}
            </div>
        </div>
        <!-- <div class="profile2">
            <div class="icon">
                <img src="{% static '/CSS/someimg/Profile_icon.png' %}" id="icon">
            </div>
        </div> -->
    </div>

</body>
<script src="{% static '/js_file/bootstrap.js' %}"></script>

</html>