<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/CSS/ProblemCss/profile.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/CSS/bootstrap.css' %}">
    <link rel="shortcut icon" href="{% static '/media/fabicon.png' %}" type="image/x-icon">
    <title>{{user.get_username}}</title>
</head>
 
<body class="body">
    {% include 'navbar.html' %}
    <div class="page_bg">
        <div class="profile">
            <div class="data">

                <p>
                    Name : &nbsp
                </p>
                <p>
                    {{name.first_name}} {{name.last_name}}
                </p>
            </div>
            <div class="data">
                <p>
                    User Name :&nbsp 
                </p>
                <p>
                    {{name.username}}
                </p>
            </div>

            <div class="data">
                <p>
                    Email :&nbsp 
                </p>
                <p>
                    {{name.email}}
                </p>
            </div>
            <div class="data">
                <p>
                    User Type :&nbsp 
                </p>
                {% if name.is_staff %}
                <p>
                    Teacher
                </p>
                {% else %}
                <p>
                    Student
                </p>
                {% endif %}
            </div>
        </div>
        <!-- <div class="profile2">
            <div class="icon">
                <img src="{% static '/CSS/someimg/Profile_icon.png' %}" id="icon">
            </div>
        </div> -->
    </div>

</body>
<script src="{% static '/js_file/bootstrap.js' %}"></script>

</html>