<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/CSS/testCase.css' %}">
    <link rel="stylesheet" href="{% static '/CSS/bootstrap.css' %}">
    <link rel="shortcut icon" href="{% static '/media/fabicon.png' %}" type="image/x-icon">
    <title>Test case add</title>
</head>

<body class="body">

    <body class="body" id="body">
        {% include 'navbar.html' %}
        <div class="pagebg" id="page2">
            <br>
            <div class="secondMovieList">
                <div>
                    Time Limit : {{postData.post_dat}} - {{postData.end_Data}}
                </div>
                <div>
                    Titel : {{postData.title}}
                </div>
                <div>
                    Explanation : {{postData.code_exp}}
                </div>
                <div>
                    Sample Input : {{postData.codeinput}}
                </div>
                <div>
                    Sample Output : {{postData.codeoutput}}
                </div>
            </div>
            <div>

                <h4>: Test Case Add :</h4><br>
                <form action="{% url 'addTest' PostId %}" method="post">
                    {% csrf_token %}
                    <textarea name="testInp" cols="30" rows="10" placeholder="Sample Input 'One at a time'"
                        id="saminp"></textarea>
                    <textarea name="testOut" cols="30" rows="10" placeholder="Expected Output 'One at a time'"
                        id="samout"></textarea>
                    <button type="submit" id="sambtn">Submit</button>
                </form>
            </div>
        </div>
        <div class='message'>
            <br>
            {% if messages %}
            {% for message in messages %}
            <div>
                {{message}}
            </div>
            {% endfor %}
            {% else %}
            <div>
                &nbsp
            </div>
            {% endif %}
        </div>
    </body>
    <script src="{% static '/js_file/bootstrap.js' %}"></script>
    <script src="{% static '/js_file/BackToTab.js' %}"></script>

</html>