<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winner Panel</title>
    <link rel="stylesheet" href="{% static '/CSS/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/CSS/Winnerboard.css' %}">
    <link rel="shortcut icon" href="{% static '/media/fabicon.png' %}" type="image/x-icon">
</head>

<body class="body" id="body">
    {% include 'navbar.html' %}
    <div class="pagebg">
        <div class="slideshow-container">
            <div class="slide-contain">
                {% for data in winner %}
                <div class="mySlides">
                    <div class="data">
                        <a href="{% url 'ShowProfile' name=data.username %}"
                            style="text-decoration: none; color: rgb(0, 0, 0);">{{data.username}}
                        </a>
                        <div>
                            Code Title : {{data.Title}}
                        </div>
                        <div>
                            Complition Time : {{data.Sub_time}}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <a class="arrow prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="arrow next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </div>
</body>

<script src="{% static '/js_file/bootstrap.js' %}"></script>
<script src="{% static '/js_file/WinBoard.js' %}"></script>

</html>