<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/Winner.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/CSS/bootstrap.css' %}">
    <link rel="shortcut icon" href="{% static '/media/fabicon.png' %}" type="image/x-icon">
    <title>Winner Panel</title>
</head>

<body class="body" id="body">
    {% include 'navbar.html' %}
    <div class="pagebg">
        <form action="/winnersave/" method="post">
            {% csrf_token %}
            <div class="dataadd">
                <span>User Name : </span>
                <input type="text" name="winnerUser">
            </div>
            <div class="dataadd">
                <span>Code Title : </span>
                <input type="text" name="codeTitel" value="{{codeData}}">
            </div>
            <div class="dataadd">
                <span>Submition Time</span>
                <input type="text" name="time" id="time">
            </div>
            <div class="dataadd btnDiv">
                <button type="submit" class="subBtn">Submit</button>
                <button type="reset" class="cleBtn">Clear</button>
            </div>
        </form>
        <div class="winnerDelete">
            <table>
                <tr>
                    <th>User Name</th>
                    <th>Code Title</th>
                    <th>Compilation Time</th>
                    <th> </th>
                </tr>
                {% for data in winner %}
                <tr>
                    <td>
                        {{data.username}}
                    </td>
                    <td>
                        {{data.Title}}
                    </td>
                    <td>
                        {{data.Sub_time}}
                    </td>
                    <td>
                        <a href="{% url 'winnerdelete' data.id  %}">Delete</a><br>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
<script src="{% static '/js_file/bootstrap.js' %}"></script>

</html>