@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

.body{
    background: #ffffff;
    /* background-image: url('../someimg/BGnew.png'); */
    background-image: url('../media/About.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    /* height: 4500px; */
}
html{
    overflow-x: hidden;
}

#nav {
    background: #14539a !important;
    /* background: radial-gradient(circle, rgba(122, 248, 248, 0.135) rgba(231, 152, 255, 0.144), 0) 100% !important; */
    color: #ffffff !important;
}

.offcanvas-body {
    background: #14539a !important;
    /* background: radial-gradient(circle, rgba(95, 253, 255, 0.7569152661064426) 0%, rgba(222, 126, 251, 0.7905287114845938) 100%) !important; */
    color: aliceblue !important;
}

.offcanvas-header {
    background: #104582 !important;
    /* background: radial-gradient(circle, rgba(95, 253, 255, 0.7569152661064426) 0%, rgba(222, 126, 251, 0.7905287114845938) 100%) !important; */
    color: aliceblue !important;
}
li.nav-item {
    font-size: 20px !important;
    font-weight: bold !important;
    color: white !important;
}

.Pagetitle {
    text-shadow: 0px 2px 5px rgb(0, 0, 0);
    font-weight: bold;
    color: aliceblue !important;
    font-size: 26px !important;
    font-family: 'Alkatra', cursive;
}
.navbar-toggler{
    background-color: azure !important;
}

.pagebg {
    position: relative;
    top: 110px;
    padding-left: 5%;
    padding-right: 5%;
    background: transparent !important;
}

.pagebg .Data {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.heading {
    color: #030360;
}

.aim {
    padding: 2px;
    font-size: 20px;
    color: #020246;
}
.points{
    width: 60%;
}
.backgroung{
    width: 50%;
}
@media screen and (max-width: 600px) {
    .Pagetitle {
        font-size: 20px !important;
    }
    .points{
        width: 100%;
    }
    .backgroung{
        width: 100%;
    }
}