@import url('https://fonts.googleapis.com/css?family=Baloo Bhai');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

.body,
html {
  background: #e8e2eb;
  background-image: url('../media/Login.png');
  /* background-image: url('../someimg/Login.png'); */
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: center;
}

html {
  overflow-x: hidden;
}

#nav {
  background: #14539a !important;
  color: #ffffff !important;
}

.offcanvas-body {
  background: #14539a !important;
  color: aliceblue !important;
}

.offcanvas-header {
  background: #104582 !important;
  color: aliceblue !important;
}

li.nav-item {
  font-size: 20px !important;
  font-weight: bold !important;
  color: white !important;
}

.Pagetitle {
  text-shadow: 0px 2px 5px rgb(0, 0, 0);
  font-weight: bold;
  color: aliceblue !important;
  font-size: 26px !important;
  font-family: 'Alkatra', cursive;
}

.navbar-toggler {
  background-color: azure !important;
}

.pagebg {
  position: relative;
  top: 100px;
  /* margin-top: 11%; */
  padding-left: 5%;
  background: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

input:disabled {
  opacity: 0.9;
  pointer-events: none;
}

input:disabled~.control__indicator:after {
  border-color: #7b7b7b;
}

input:checked:focus {
  border: none;
}

input:active {
  filter: brightness(90%)
}


input:focus {
  border-color: transparent;
  outline: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.btn:hover {
  color: #212529;
  text-decoration: none
}

.col-md-7 {
  box-shadow: 2px 3px rgba(0, 0, 0, 0.751);
  transition: all 0.3s ease;
  padding: 20px;
  background: rgb(113, 0, 57);
  background: linear-gradient(118deg, rgba(113, 0, 57, 0.9585959383753502) 0%, rgba(9, 9, 121, 1) 66%, rgba(0, 179, 153, 1) 100%);
  color: aliceblue;
  border-radius: 10px;
  width: 350px !important;
  height: 450px !important;
  text-align: center;
  padding-top: 50px;
}

.col-md-7 form {
  padding: 20px;
  text-align: left;
}

.col-md-7 form button {
  margin-left: 70%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.751);
  background-color: rgb(1, 219, 146);
  color: black;
}

.page_title {
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-group {
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .col-md-7 {
    width: 320px !important;
  }

  .pagebg {
    position: relative;
    top: 160px;
  }

  .body,
  html {
    background-size: 50%;
  }

}