@import url('https://fonts.googleapis.com/css?family=Baloo Bhai');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

.body,
html {
  background: #e8e2eb;
  background-image: url('../media/SignUp.png');
  /* background-image: url('../someimg/SignUp.png'); */
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: center;
  /* height: 4500px; */
}

html {
  overflow-x: hidden;
}

#nav {
  background: #14539a !important;
  /* background: radial-gradient(circle, rgba(122, 248, 248, 0.135) rgba(231, 152, 255, 0.144), 0) 100% !important; */
  color: #ffffff !important;
}

.offcanvas-body {
  background: #14539a !important;
  /* background: radial-gradient(circle, rgba(95, 253, 255, 0.7569152661064426) 0%, rgba(222, 126, 251, 0.7905287114845938) 100%) !important; */
  color: aliceblue !important;
}

.offcanvas-header {
  background: #104582 !important;
  /* background: radial-gradient(circle, rgba(95, 253, 255, 0.7569152661064426) 0%, rgba(222, 126, 251, 0.7905287114845938) 100%) !important; */
  color: aliceblue !important;
}

li.nav-item {
  font-size: 20px !important;
  font-weight: bold !important;
  color: white !important;
}

.Pagetitle {
  text-shadow: 0px 2px 5px rgb(0, 0, 0);
  font-weight: bold;
  color: aliceblue !important;
  font-size: 26px !important;
  font-family: 'Alkatra', cursive;
}

.navbar-toggler {
  background-color: azure !important;
}

.pagebg {
  position: relative;
  top: 100px;
  padding-left: 5%;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  margin-left: 20%;
  width: 100%;
}

input:disabled {
  opacity: 0.9;
  pointer-events: none;
}

input:disabled~.control__indicator:after {
  border-color: #7b7b7b;
}

input:checked:focus {
  border: none;
}

input:active {
  filter: brightness(90%)
}


input:focus {
  border-color: transparent;
  outline: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: rgb(3, 151, 102) !important;
  color: #0df6fa !important;
  text-decoration: none !important;
}

.login-wrap {
  box-shadow: 2px 3px rgba(0, 0, 0, 0.751);
  transition: all 0.3s ease;
  padding-left: 20px;
  padding-right: 20px;
  background: rgb(113, 0, 57);
  background: linear-gradient(118deg, rgba(113, 0, 57, 0.9585959383753502) 0%, rgba(9, 9, 121, 1) 66%, rgba(0, 179, 153, 1) 100%);
  color: aliceblue;
  border-radius: 10px;
  width: 60% !important;
  height: 470px !important;
  text-align: center;
}

.login-wrap input {
  width: 70%;
  padding-left: 30px;
  margin-left: 30px;
  margin-top: 10px;
}

.page_title {
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.data {
  position: relative;
  top: -30px;
}

.btn {
  background-color: rgb(3, 188, 126) !important;
  color: black !important;
}
.col-md-12 label {
  width: 105px;
}
.col-md-12 input {
  width: 300px;
}
.cp {
  margin-left: -25px;
}

.cp2 {
  padding: 0px;
  margin-left: -6px;
  width: 176px !important;
}

.cp3 {
  margin-left: -10px !important;
}

.container {
  position: relative !important;
  left: 25% !important;
}

@media screen and (max-width: 600px) {

  .body,
  html {
    background: #57d9be;
    width: 100%;
  }

  .login-wrap {
    position: relative;
    left: -50%;
    width: 95% !important;
    height: 490px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .data{
    padding-top: 20px;
    margin-right: -20px;
  }
  .col-md-12 input {
    width: 150px;
  }
  .col-md-12 label {
    margin-left: -10px;
    width: 100px;
  }
  .cp2{
    width: 165px !important;
  }
  .toLogin{
    position: absolute !important;
    top:28pc;
    margin-left: 3pc;
  }
}