@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

.body,
html {
    background: #a4d4cf;
    background-image: url('../media/Winner.png');
    /* background-image: url('../someimg/Winner.png'); */
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    /* height: 4500px; */
}

html {
    overflow-x: hidden;
}

#nav {
    background: #14539a !important;
    color: #ffffff !important;
}

.offcanvas-body {
    background: #14539a !important;
    color: aliceblue !important;
}

.offcanvas-header {
    background: #104582 !important;
    color: aliceblue !important;
}

li.nav-item {
    font-size: 20px !important;
    font-weight: bold !important;
    color: white !important;
}

.Pagetitle {
    text-shadow: 0px 2px 5px rgb(0, 0, 0);
    font-weight: bold;
    color: aliceblue !important;
    font-size: 26px !important;
    font-family: 'Alkatra', cursive;
}

.navbar-toggler {
    background-color: azure !important;
}

.pagebg {
    position: relative;
    top: 330px;
    padding-left: 5%;
    height: 100%;
    background: transparent;
}

.slideshow-container {
    position: relative;
    left: 4%;
    height: 100%;
    width: 85%;
}

.mySlides {
    text-align: center;
    font-size: 30px;
    color: white;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 9px;
    color: #00ffff;
    font-weight: bold;
    font-size: 26px;
    transition: 0.6s ease;
    background-color: #ff5a35;
    /* border-radius: 0 3px 3px 0; */
    user-select: none;
    cursor: pointer;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slide-contain {
    /* background-color: blue !important; */
    width: 900px;
    position: relative;
    left: 10%;
}

.mySlides {
    color: #000000 !important;
    font-family: cursive;
    font-weight: bold;
    font-size: 30px;
    width: 95%;
    text-shadow: -1px 1px 3px #477fc1;
    display: none;
}

.mySlides.active {
    display: block;
}

@media screen and (max-width: 600px) {

    .body,
    html {
        background: #f1def9;
        background-image: url('../media/winPhone.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: right;
    }

    html {
        overflow: hidden;
    }

    .pagebg {
        position: relative;
        top: 400px;
        padding-left: 5%;
        height: 100%;
        background: transparent;
    }
    .mySlides{
        margin-left: -3%;
        font-size: 16px;
        text-align: left;
        width: 300px
    }
    .arrow {
        top: 180%;
    }
}