@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

.body {
    background: #ffffff;
    background-image: url('../someimg/profile.png');
    /* background-image: url('../media/profile.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 14%;
}

html {
    overflow-x: hidden;
}

#nav {
    background: #14539a !important;
    /* background: radial-gradient(circle, rgba(122, 248, 248, 0.135) rgba(231, 152, 255, 0.144), 0) 100% !important; */
    color: #ffffff !important;
}

.offcanvas-body {
    background: #14539a !important;
    /* background: radial-gradient(circle, rgba(95, 253, 255, 0.7569152661064426) 0%, rgba(222, 126, 251, 0.7905287114845938) 100%) !important; */
    color: aliceblue !important;
}

.offcanvas-header {
    background: #104582 !important;
    /* background: radial-gradient(circle, rgba(95, 253, 255, 0.7569152661064426) 0%, rgba(222, 126, 251, 0.7905287114845938) 100%) !important; */
    color: aliceblue !important;
}
li.nav-item {
    font-size: 20px !important;
    font-weight: bold !important;
    color: white !important;
}

.Pagetitle {
    text-shadow: 0px 2px 5px rgb(0, 0, 0);
    font-weight: bold;
    color: aliceblue !important;
    font-size: 26px !important;
    font-family: 'Alkatra', cursive;
}
.navbar-toggler{
    background-color: azure !important;
}

.Pagetitle {
    text-shadow: 0px 2px 5px black;
    font-weight: bold;
    color: aliceblue !important;
    font-size: 26px !important;
    font-family: 'Alkatra', cursive;
}

.body .page_bg {
    position: relative;
    top: 110px;
    margin-left: 120px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.data {
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.icon {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 250px;
    border-radius: 150px;
    margin-left: 200px;
    margin-top: 50px;

}

.icon img {
    border-radius: 150px;
    width: 248px;
    height: 248px;
    box-shadow: 0 0 4px 2px #000000;
}

.profile {
    margin-top: 5%;
    margin-left: 5%;
    width: 45%
}

@media screen and (max-width: 600px) {
    .data {
        font-size: 16px;
    }

    .body .page_bg {
        margin-left: 10%;
    }

    .icon {
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        width: 150px;
        height: 150px;
        border-radius: 150px;
        margin-left: 50%;
        margin-top: -100px;

    }

    .icon img {
        border-radius: 150px;
        width: 148px;
        height: 148px;
        box-shadow: 0 0 4px 2px #000000;
    }
    .body {
        background: #ffffff;
        /* background-image: url('../media/profilePhone.png'); */
        background-image: url('../someimg/profilePhone.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: right;
    }
    html {
        overflow-x: hidden;
    }
    .profile {
        margin-top: 5%;
        margin-left: 5%;
        width: 70%;
        color: aliceblue;
    }
    .Pagetitle {
        font-size: 20px !important;
    }
}