@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

.body{
    background: #317a8b;
    background-image: url('../someimg/codingRoom.png');
    /* background-image: url('../media/codingRoom.png'); */
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    /* height: 4500px; */
}
html{
    overflow-x: hidden;
}

#nav {
    background: #14539a !important;
    /* background: radial-gradient(circle, rgba(122, 248, 248, 0.135) rgba(231, 152, 255, 0.144), 0) 100% !important; */
    color: #ffffff !important;
}

.offcanvas-body {
    background: #14539a !important;
    /* background: radial-gradient(circle, rgba(95, 253, 255, 0.7569152661064426) 0%, rgba(222, 126, 251, 0.7905287114845938) 100%) !important; */
    color: aliceblue !important;
}

.offcanvas-header {
    background: #104582 !important;
    /* background: radial-gradient(circle, rgba(95, 253, 255, 0.7569152661064426) 0%, rgba(222, 126, 251, 0.7905287114845938) 100%) !important; */
    color: aliceblue !important;
}
li.nav-item {
    font-size: 20px !important;
    font-weight: bold !important;
    color: white !important;
}

.Pagetitle {
    text-shadow: 0px 2px 5px rgb(0, 0, 0);
    font-weight: bold;
    color: aliceblue !important;
    font-size: 26px !important;
    font-family: 'Alkatra', cursive;
}
.navbar-toggler{
    background-color: azure !important;
}
.pagebg {
    position: relative;
    top: 110px;
    padding-left: 5%;
    /* background-color: black; */
    background: transparent !important;
}

.secondMovieList {
    position: relative;
    /* border: 4px solid #2b2b2b; */
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    /* background-color: #000000a1; */
    background: rgb(6, 4, 54);
    background: linear-gradient(118deg, #00af2ea4 0%, #1bedffb5 100%);
    margin-top: 2%;
    display: inline-block;
    margin: 12px;
    flex-grow: 0;
    flex-shrink: 0;
    width: 90%;
    height: 100%;
    color: white;
    transition: 1s;
    text-align: left;
    padding: 20px;
    border-radius: 8px;
}

/* body{
    background-color: #241b2f;
    color: whitesmoke;
} */

.gx-5 {
    display: flex;
    justify-content: center;
    margin: 0%;
    /* flex-direction: row;
    flex-wrap: wrap; */
}

.d-flex {
    display: flex !important;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.type_input,
.type_output {
    margin-top: 0%;
    margin-left: 5px;
    margin-right: 5px;

}

.out-div {
    margin-top: 25px;
    /* width: 100%; */
}

.container {
    width: min-content;
    padding: 0px;
    margin: 0px;
}

.align {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
}

textarea {
    resize: both !important;
    width: 300px;
    height: 200px;
    border-bottom: 5px solid #0000001a;
    border-left: 4px solid #0000001a;
    border-radius: 10px;
    border-top: none;
    border-right: none;
    background-color: #d6ecffd0;
    padding: 10px;
    font-family: Consolas, monaco, monospace;
}

.item {
    text-align: center;
    padding: 0px;
    margin-right: 8px;
}

.other {
    padding: 3px;
    margin-left: 15px;
    width: 160px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

.option {
    background-color: black;
    color: aliceblue;
    text-align: center;
    border-radius: 8px;
    font-weight: bolder;
}

.sub_btn {
    border-radius: 10px;
    border: none;
    border-bottom: 3px solid #0000001a;
    border-left: 3px solid #0000001a;
    background-color: #09c775d6;
    font-weight: bold;
}

.output {
    text-align: left;
}

.row {
    width: 90%;
}

#input {
    width: 350px;
}
.dele_btn{
    background-color: tomato !important;
    border-radius: 10px;
    border: none;
    border-bottom: 3px solid #0000001a;
    border-left: 3px solid #0000001a;
    font-weight: bold;
}
.win_btn{
    background-color: rgb(24, 0, 157) !important;
    color: white;
    border-radius: 10px;
    border: none;
    border-bottom: 3px solid #0000001a;
    border-left: 3px solid #0000001a;
    font-weight: bold;
}
.test_btn{
    background-color: rgb(148, 184, 6) !important;
    color: #000000;
    border-radius: 10px;
    border: none;
    border-bottom: 3px solid #0000001a;
    border-left: 3px solid #0000001a;
    font-weight: bold;
}
#saminp, #samout{
    background-color: black;
    height: 100px;
    margin-left: 20px;
    color: aliceblue;
}
#sambtn{
    background-color: #b370d0;
    border: none;
    padding: 3px;
    margin-left: 15px;
    width: 160px;
    font-size: 20px;
    font-weight: bold;
    margin-top: -15px;
    border-radius: 10px;
    border-bottom: 3px solid #0000001a;
    border-left: 3px solid #0000001a;
}