@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

.body {
    background: #000734;
    background-image: url('../someimg/Post pannel.png');
    /* background-image: url('../media/Post pannel.png'); */
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    /* height: 4000px; */
    color: white;
}

html {
    overflow-x: hidden;
}


html div{
    background: transparent !important;
}

#nav {
    background: #14539a !important;
    /* background: radial-gradient(circle, rgba(122, 248, 248, 0.135) rgba(231, 152, 255, 0.144), 0) 100% !important; */
    color: #ffffff !important;
}

.offcanvas-body {
    background: #14539a !important;
    /* background: radial-gradient(circle, rgba(95, 253, 255, 0.7569152661064426) 0%, rgba(222, 126, 251, 0.7905287114845938) 100%) !important; */
    color: aliceblue !important;
}

.offcanvas-header {
    background: #104582 !important;
    /* background: radial-gradient(circle, rgba(95, 253, 255, 0.7569152661064426) 0%, rgba(222, 126, 251, 0.7905287114845938) 100%) !important; */
    color: aliceblue !important;
}
li.nav-item {
    font-size: 20px !important;
    font-weight: bold !important;
    color: white !important;
}

.Pagetitle {
    text-shadow: 0px 2px 5px rgb(0, 0, 0);
    font-weight: bold;
    color: aliceblue !important;
    font-size: 26px !important;
    font-family: 'Alkatra', cursive;
}
.navbar-toggler{
    background-color: azure !important;
}

div#mainDiv {
    position: relative;
    top: 100px;
    padding-left: 5%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
}

.FormItem {
    margin: 8px;
    padding: 8px;
}

.FormItem input,
.FormItem textarea {
    border-radius: 10px;
    background: #eaf2fe;
    border-bottom: 4px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.InpOutp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.expblock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.textbox {
    margin-left: 8px;
}

.btn_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.btn_area button {
    margin-left: 20px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.code_title {
    margin-left: 60px;
}

.code_title span {
    margin: 8px;
}
.post_btn{
    background-color: turquoise;
}
.clean_btn{
    background-color: indianred;
}
span{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0px 0px 8px antiquewhite;
}