<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>coding</title>
    <link rel="stylesheet" href="{% static '/CSS/aos.css' %}">
    <link rel="stylesheet" href="{% static '/CSS/about.css' %}">
    <link rel="stylesheet" href="{% static '/CSS/bootstrap.css' %}">
    <link rel="shortcut icon" href="{% static '/media/fabicon.png' %}" type="image/x-icon">
</head>

<body class="body" id="body">
    <nav class="navbar navbar-light bg-light fixed-top" id="nav">
        <div class="container-fluid">
            <a class="navbar-brand Pagetitle" href="/about/" id="heading">
                <img src="{% static '/media/Logo.png' %}" alt="" style="height: 64px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Skill Sharpener</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/" style="color: aliceblue;">Home</a>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link login" href="{% url 'profile' name=request.user.username %}" style="color: aliceblue;">Profile</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link login" href="{% url 'profile' name='name' %}" style="color: aliceblue;">Profile</a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link login" href="/Winnerboard/" style="color: aliceblue;">Winner</a>
                        </li>
                        <li class="nav-item dropdown">

                            {% if request.user.is_authenticated %}


                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false" style="color: aliceblue;">
                                {{user.get_username}}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" id="loginout" href="/logout/" style="color: aliceblue;">Logout</a></li>
                            </ul>

                            {% else %}

                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false" style="color: aliceblue;">
                                User
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">



                                <li><a class="dropdown-item" id="loginbtn" href="/login/" style="color: aliceblue;">Login</a></li>
                                <li><a class="dropdown-item" id="signupbtn" href="/signup/" style="color: aliceblue;">Sign Up</a></li>

                                {% endif %}

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="pagebg" id="page2">
        <div class="Data">
            <b class="heading">
                <u>
                    CREATED BY :
                </u>
            </b>
            <ul>
                <ul>
                    <li>
                        Sunit Mal
                    </li>
                    <li>
                        Samapon Ghosh
                    </li>
                </ul>
            </ul>
            <div class="points">
                <ul>
                    <u class="aim">
                        The project aims and objectives will be achieved after completion of this project are:
                    </u>
                    <ol type="i">
                        <li>Providing a common coding platform to all the coders and developers.</li>
                        <li>Providing an online compiler/Interpreter that runs on almost every device (i.e., Laptop,
                            Desktop, Mobile, Tablet etc.).</li>
                        <li>Making cloud-based portable compiler available to everyone. No longer need to download SDK for
                            different language, no more issues of setting path variables, no need of storage space on user’s
                            system, no more mess. </li>
                        <li>Providing special stage for teachers, to post questions, and students, to solve that within
                            time, so that students can get the coding ideas quickly. </li>
                        <li>Making online learning more interactive and easier.</li>
                        <li>Making competitive coding much easier and available to everyone.</li>
                        <li>Special Winner Board for students, who solved the question at less time and more efficiently.
                        </li>
                    </ol>
                </ul><br>
            </div>
            <div class="backgroung">
                <b class="heading">
                    <u>
                        BACKGROUND OF PROJECT:
                    </u>
                </b>
                <ul>
                    <br>
                    <ol type="i">
                        Our project, Code Arena, provides the environment to execute particular
                        program of particular
                        language (i.e. C, C++, PYTHON, JAVA). This web based project has an built-in online compiler that
                        allows user to compile user’s code and run it in an online terminal. The project can also use to
                        check
                        that the program working properly or not using test case, submitted by the user. There are three
                        types of users in this
                        program,<br>
                        <b>
                            Admin <br>
                        </b>
                        <ul>
                            <li>
                                The Administrator have the supreme authority in this program. An admin can create
                                or
                                delete any other user’s account or data as he/she has the total access to the program
                                database.
                            </li>
                        </ul>
                        <b>
                            Teacher
                        </b>
                        <ul>
                            <li>
                                The Teacher or staff user, can post coding related questions and review the answers,
                                submitted by the Students, and by reviewing the student’s completion time and efficiency,
                                he/she can pick
                                the best answer given by the student and make him/her appear in the Winner Board.
                            </li>
                        </ul>
                        <b>
                            Student
                        </b>
                        <ul>
                            <li>
                                The Student or active user, is the base of this program. They can pick any of the posted
                                question, go through it and solve it through coding. There would be given an option to
                                select the
                                coding language in which they want to write and compile their code. The application will
                                compile it
                                and return the output in a terminal.
                            </li>
                        </ul>
                    </ol>
                </ul>
            </div>
        </div>
    </div>
</body>

<script src="{% static '/js_file/bootstrap.js' %}"></script>
<script src="{% static '/js_file/aos.js' %}"></script>
<script>
    AOS.init();
</script>
<script src="{% static '/js_file/script.js' %}"></script>
<script src="{% static '/js_file/BackToTab.js' %}"></script>

</html>
